<div class="container">
<h1>Editando Livro</h1>

  <%= render "form", book: @book %>

  <div>
    <%= link_to "Mostrar livro", @book %> |
    <%= link_to "Voltar para livros", books_path %>
  </div>
</div>