<%= render @book %>

<div class="ctg_links" >
  <%= link_to "Editar livro", edit_book_path(@book) %> |
  <%= link_to "Voltar", books_path %> |
  <%= link_to "Excluir livro", @book, method: :delete, data:{confirm: "Você quer deletar?"} %>
</div>
