.main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
  min-height: calc(100vh - 55px);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.amostra_catg {
  background-color: #fff;
  border-radius: 8px;
  gap: 0;
  padding: 5px;
  width: 200px;
  text-align: center;
}

.nome_ctg {
  font-size: 1.3rem;
  color: #000;
  text-align: center;
}

.ctg_links {
  display: flex;
  justify-content: center;
}

.book {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 500px;
}
.book h1 {
  font-size: 1.3rem;
}
.book p {
  color: #000;
  padding: .5rem 0;
}