@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto+Slab&family=Rubik&display=swap");

* {
  box-sizing: border-box;
  border-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  list-style: none;
}

.menu {
  background-color: #2c3e66;
  font-family: "Rubik", sans-serif;
  padding: 3px 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Forum", cursive;
  color: #2c3e66;
  font-size: 75px;
}

.brand {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
}

.brand .fa-book {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #fff;
}

.pesquisa {
  width: 100%;
}

.book_search {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px 0;
}

.barra-de-pesquisa {
  width: 60%;
  height: 40px;
  padding: 10px;
  border: 3px solid #2c3e66;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.pesquisa-btn {
  padding: 10px;
  border-radius: 0 5px 5px 0;
  background-color: #2c3e66;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

.barra-de-pesquisa:focus {
    outline: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: #2c3e66;
  color: #ffffff;
  text-align: center;
}