<div class="container">
  <h1>Editing category</h1>

  <%= render "form", category: @category %>

  <div>
    <%= link_to "Mostrar categoria", @category %> |
    <%= link_to "Voltar", categories_path %>
  </div>
</div>


