<div class="main-container">
  <h1>Editando Categoria</h1>

  <%= render "form", category: @category %>

  <div>
    <%= link_to "Mostrar categoria", @category %> |
    <%= link_to "Voltar", categories_path %>
  </div>
</div>


