<%= render @category %>

<div class="ctg_links">
  <%= link_to "Editar categoria", edit_category_path(@category) %> |
  <%= link_to "Voltar", categories_path %> | 
  <%= link_to "Excluir categoria", @book, method: :delete, data:{confirm: "Do you want to delete?"} %>
</div>
