
<% if user_signed_in? %>
<header class="menu">
    <p class="brand">Pergaminho<i class="fa-solid fa-book"></i></p>
    <div class="nav">
      <%= link_to "Início", root_path, class: 'inicio'%>
      <%= link_to "Categorias", categories_path, class: 'categorias' %>
      <%= link_to "Editar Perfil", edit_user_registration_path, class: 'perfil' %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class:'sair'%>
    </div>
  </header>
<% end %>